
.Text {
  line-height: 120%;
  display: inline-block;
}

.XS {
  font-size: 14px;
}

.S {
  font-size: 16px;
}

.M {
  font-size: 18px;
}

.L {
  font-size: 24px;
}

.bold {
  font-weight: 600;
}

.underline {
  padding-bottom: 5px;
  border-bottom: var(--bgPrimary) 2px solid;
}

.default {
  color: var(--textPrimary);
}

.accent {
  color: var(--textAccent);
}

