.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 15px;
  gap: 40px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bgColor);
  height: 110px;
}

.logo {
  cursor: pointer;
  color: var(--textPrimary);
  font-weight: 700;
  font-size: 24px;
}

.rightButtons {
  margin-left: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .rightButtons {
    display: none;
  }
}
