.info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;

  .infoRow {
    span {
      font-weight: bold;
    }
  }
}

.infoTitle {
  font-size: 18px;
  margin-bottom: 10px;

  svg {
    margin-right: 5px;
  }
}

.logout {
  margin-bottom: 20px;
}
