.ordersContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .orderItem {

  }
}

.title {
  font-size: 18px;

  svg {
    margin-right: 5px;
    font-size: 16px;
  }
}
